{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr" data-startbar="light" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <title>HJFMRI - Vending Mashines MAnagement System</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      content="HJFMRI - Vending Mashines MAnagement System"
      name="description"
    />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="shortcut icon"
      href="{% static 'assets/logos/favicon/favicon.ico'  %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/libs/jsvectormap/css/jsvectormap.min.css'  %}"
    />
    <!-- App css -->
    <link
      href="{% static 'assets/css/bootstrap.min.css'  %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'assets/css/icons.min.css'  %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'assets/css/app.min.css'  %}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://code.highcharts.com/dashboards/css/dashboards.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
</html>
