{% extends 'snippets/base.html' %} {% load static %} {% block content %}

<div class="page-wrapper">
  <!-- Page Content-->
  <div class="page-content">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="card-title">KVP Customers</h4>
                </div>
                <!--end col-->
                <div class="col-auto">
                  <form class="row g-2">
                    <div class="col-auto">
                      <button type="button" class="btn btn-primary">
                        <i class="fa-solid fa-plus me-1"></i> Add Customer
                      </button>
                    </div>
                  </form>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            {% include "snippets/cutomer_filters.html" %}
            <!--end card-header-->
            <div class="card-body pt-0">
              <div class="table-responsive">
                <table class="table mb-0 checkbox-all">
                  <thead class="table-light">
                    <tr>
                      <th>#</th>
                      <th>PIN</th>
                      <th>Phone Number</th>
                      <th>Age</th>
                      <th>Gender</th>
                      <th>Location</th>
                      <th>Type</th>
                      <th>Client Group</th>
                      <th class="text-end">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for customer in customers %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ customer.pin|default:"N/A" }}</td>
                      <td>{{ customer.phone_number|default:"N/A" }}</td>
                      <td>{{ customer.age|default:"N/A" }}</td>
                      <td>{{ customer.gender|default:"N/A" }}</td>
                      <td>{{ customer.location|default:"N/A" }}</td>
                      <td>{{ customer.type|default:"N/A" }}</td>
                      <td>{{ customer.client_group|default:"N/A" }}</td>
                      <td class="text-end">
                        <a href="#"
                          ><i class="las la-pen text-secondary fs-18"></i
                        ></a>
                        <a href="#"
                          ><i class="las la-trash-alt text-secondary fs-18"></i
                        ></a>
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="9" class="text-center">
                        No customers available
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- container -->
  </div>
  <!-- end page content -->
</div>

{% endblock %}
